<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trinck.qrmanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trinck QR Manager</name>
    <description>
        QR Code Generator and Scanner for Trinck Platform
    </description>
    <author email="support@trinck.com" href="https://trinck.com">
        Trinck Team
    </author>
    
    <content src="index.html" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png" />
        
        <splash density="land-ldpi" src="www/res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="www/res/screen/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="www/res/screen/android/splash-land-hdpi.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/splash-land-xxxhdpi.png" />
        <splash density="port-ldpi" src="www/res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="www/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="2" />
    <plugin name="cordova-plugin-device" spec="2" />
    <plugin name="cordova-plugin-splashscreen" spec="5" />
    <plugin name="cordova-plugin-camera" spec="6" />
    <plugin name="cordova-plugin-file" spec="6" />
    <plugin name="cordova-plugin-file-transfer" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="5" />
    <plugin name="cordova-plugin-network-information" spec="3" />
    <plugin name="cordova-plugin-vibration" spec="3" />
    <plugin name="cordova-plugin-media" spec="5" />
    <plugin name="cordova-plugin-dialogs" spec="2" />
    
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</widget>
